# Arquivos compilados
*.class

# Diretórios de build/compilação (ajuste se usa outro nome)
build/
dist/
out/

# Arquivos da IDE NetBeans
nbproject/private/
nbbuild/
nbdist/
.nb-gradle/
*.orig

# Arquivos temporários do sistema
*.log
*.tmp
*.bak

# Sistema operacional
.DS_Store
Thumbs.db

